.color-purple {
  --background: #8200d9;
}

ion-title#home-title {
  text-align: center;
  margin-left: -50px;
}

.color-white {
  color: #FFFFFF;
}

ion-col.card-col {
  padding: 0;
  margin: 0;
  height: 100%;
}

ion-card-title.card-isDog {
  padding: 10px;
  text-align: center;
}

ion-card-content.card-image {
  padding: 20px 10px;
}
